<nav class="navbar navbar-expand-md navbar-light bg-light">
  <span class="navbar-brand">Dropdowns in navbar</span>
  <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
		  <mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
		  <button mat-menu-item>
		    <mat-icon>dialpad</mat-icon>
		    <span>Redial</span>
		  </button>
		  <button mat-menu-item disabled>
		    <mat-icon>voicemail</mat-icon>
		    <span>Check voice mail</span>
		  </button>
		  <button mat-menu-item>
		    <mat-icon>notifications_off</mat-icon>
		    <span>Disable alerts</span>
		  </button>
		</mat-menu>
      </li>	
      <li class="nav-item">
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
		<mat-menu #menu="matMenu">
		  <button mat-menu-item class="btn btn-light">Item 1</button>
		  <button mat-menu-item class="btn btn-light">Item 2</button>
		  <div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">@</span>
		  </div>
		  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
		</div>
		</mat-menu>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
          Static
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
          <div class="dropdown-divider"></div>
	          <button ngbDropdownItem mat-button style="text-align:left">
			    <mat-icon>voicemail</mat-icon>
			    <span style="padding-left:4px">Check Tape</span>
			  </button>        
		  </div>
      </li>

      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">
          Static right
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
        </div>
      </li>

      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
          Dynamic
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</nav>