<nav>
  <ul>
  	<li><a routerLink="/nav-top" routerLinkActive="active">NavTop</a>
    <li><a routerLink="/bootstrap" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/material" routerLinkActive="active">Second Component</a></li>
    <li><a routerLink="/button-toggle" routerLinkActive="active">Button Toggle</a></li>
    <li><a routerLink="/alert" routerLinkActive="active">Alerts</a></li>
    <li><a routerLink="/mat-checkbox" routerLinkActive="active">CheckBox Material</a></li>
  </ul>
</nav>
<nav>
<ul  class="nav-tabs">
  <li>
    <a routerLink="nav-tab">NavTab</a>
  </li>
</ul>
</nav>
<router-outlet></router-outlet>